{% extends 'base.html.twig' %}
{% block title %} Ajouter un Rucher{% endblock %}
{% block body %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
	<center><h1>Ajouter un rucher</h1></center>
	<br>
	<div class="d-flex justify-content-around">
		<div class="droite">
    		{{ form_start(addrucherform) }}
       		{{ form_widget(addrucherform) }}	
       		<button type="submit" class="btn btn-primary">Valider</button></center>
            {{ form_end(addrucherform) }}
    	</div>
	</div>
	<br>
	<div class="container-fluid">
	<div classs="row">
			<div id="block1" class="col-lg-4"></div>
			<div id="block2" class="col-lg-4">
			<center>
				<table border bgcolor="white" cellpadding="5px">
                	<tr>  
                	
                		<td>Id</td>
                		<td>Region</td>
                		<td>Nombres de ruches</td>
                		<td>Latitude</td>
                		<td>Longitude</td>
                		<td>Nom</td>
                	</tr>
                	{% for rucher in ruchers %}
                	<tr>
                	    <td> {{ rucher.id }}						</td>
                	    <td> {{ rucher.region }}					</td>
                	    <td> {{ rucher.NbRuches }}					</td>
                	    <td> {{ rucher.Latitude }}					</td>
                	    <td> {{ rucher.Longitude }}					</td>
                	    <td> {{ rucher.Nom }}						</td>
                	</tr>
                	{% endfor %}
                </table>
                <br></br>
            </center>
			</div>
			<div id="block3" class="col-lg-4">
				<a href="{{ path ('googleMap') }}"><button class="btn btn-primary">Afficher la carte </button></a>
			</div>
		</div></div>
{% endblock %}