{% extends 'base.html.twig' %}

{% block title %}Thales Apiculture{% endblock %}

{% block body %}

<meta charset="UTF-8">

<center><H1>Gestionnaire des apiculteurs</H1></center>
<br>
<br>
<center><p>Pour rechercher un apiculteur, entrez son nom.</p></center>
<br>
<center><label for="nom">Nom</label> <input type="text" name="nom" id="name"><button>Rechercher</button></center>

<br><br>
<h1>Liste des apiculteurs</h1>
<table border bgcolor="white" cellpadding="5">
	<tr bgcolor="gray"> 
		<td>Id</td>
		<td>Nom</td>
		<td>Prenom</td>
		<td>Mail</td>
		<td>Password</td>
		<td>Tel</td>
		<td>Code_postal</td>
		<td>Ville</td>
		<td>post_addr</td>
		<td>type_user</td>
	</tr>
{% for apiculteur in apiculteurs %}
<tr><td>{{ apiculteur.id }}</td><td> {{ apiculteur.nom }}</td><td> {{ apiculteur.prenom }}</td><td> {{ apiculteur.mail }}</td><td> {{ apiculteur.password }}</td><td> {{ apiculteur.tel }}</td><td> {{ apiculteur.codePostal }}</td><td> {{ apiculteur.ville }}</td><td> {{ apiculteur.post_addr }}</td><td> {{ apiculteur.type_user }}</td></tr>
{% endfor %}
</table>


{% endblock %}