{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

{% for message in app.flashes('creationCompte') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
<center><h1>{% trans %}Inscription{% endtrans %}</h1></center>
<br>
	<div class="d-flex justify-content-around">
		
		{{ form_start(registrationForm) }}       
        <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form_row(registrationForm.nom, { 'attr' : { 'placeholder':'Nom'}}) }}
    </div>
    <div class="form-group col-md-6">
       {{ form_row(registrationForm.prenom, { 'label' : 'Prénom' , 'attr' : { 'placeholder':'Prénom'}}) }}
    </div>
  </div>
        {{ form_row(registrationForm.pseudo, { 'label' : 'Pseudo' , 'attr' : { 'placeholder':'Pseudo'}}) }}
        {{ form_row(registrationForm.mail, { 'label': 'Mail', 'attr' : { 'placeholder':'Adresse mail'}}) }}
        {{ form_row(registrationForm.password, { 'label':'Mot de passe', 'attr' : { 'placeholder':'Mot de passe'}}) }}
        {{ form_row(registrationForm.confirm_password, {'label':'Confirmer le mot de passe', 'attr' : {'placeholder':'Confirmer le mot de passe'}}) }}
        {{ form_row(registrationForm.tel, { 'label':'Téléphone', 'attr' : { 'placeholder':'Téléphone'}}) }}
        <div class="form-row">
    <div class="form-group col-md-6">
        {{ form_row(registrationForm.codepostal, { 'label':'Code postal', 'attr' : { 'placeholder':'Code postal'}}) }}
         </div>
    <div class="form-group col-md-6">
        {{ form_row(registrationForm.ville, { 'attr' : { 'placeholder':'Ville'}}) }}
        </div>
  </div>
        {{ form_row(registrationForm.postaddr, { 'label':'Adresse postale','attr' : { 'placeholder':'Adresse postale'}}) }}
        
        <button type="submit" class="btn btn-primary">{% trans %}Inscription{% endtrans %}</button>
        
        {{ form_end(registrationForm) }}
        
   </div>



{%  endblock %}