{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

{% for message in app.flashes('creationCompte') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
<center><h1>Inscription</h1></center>
<br>
	<div class="d-flex justify-content-around">
		
		{{ form_start(registrationForm) }}       
        
        {{ form_row(registrationForm.nom, { 'attr' : { 'placeholder':'Nom'}}) }}
        {{ form_row(registrationForm.prenom, { 'attr' : { 'placeholder':'Prenom'}}) }}
        {{ form_row(registrationForm.mail, { 'attr' : { 'placeholder':'Adresse mail'}}) }}
        {{ form_row(registrationForm.password, { 'attr' : { 'placeholder':'Mot de passe'}}) }}
        {{ form_row(registrationForm.confirm_password, {'attr' : {'placeholder':'Saisir le meme mdp'}}) }}
        {{ form_row(registrationForm.tel, { 'attr' : { 'placeholder':'Telephone'}}) }}
        {{ form_row(registrationForm.codepostal, { 'attr' : { 'placeholder':'Code postal'}}) }}
        {{ form_row(registrationForm.ville, { 'attr' : { 'placeholder':'Ville'}}) }}
        {{ form_row(registrationForm.postaddr, { 'attr' : { 'placeholder':'Adresse postale'}}) }}
        
        <button type="submit" class="btn btn-primary">Inscription</button>
        
   </div>
{{ form_end(registrationForm) }}


{%  endblock %}