{% extends 'nouvellepage/ruches_privees.html.twig' %}
{% block tableau_donnees %}
    <center>
    <br></br>
    {% if peseruches %}
        <h1>Les p&egrave;seruches pr&eacute;sentes dans la r&eacute;gion {{ region }}</h1>
       
        <table border bgcolor="white" cellpadding="5px">
        <tr>
        	<td>Id</td>
        	<td>Nom p&egrave;se ruche</td>
        	<td>Nom Propri&eacute;taire</td>
        	<td>Nom Rucher</td>
          	<td>Date d'installation</td>
        	<td>Visibilit&eacute;</td>
        	<td>R&eacute;gion</td>
        </tr>
        {% for peseruche in peseruches %}
		<tr> 
			<td> {{ peseruche.id }}									</td>
			<td><a href="{{ path('info_ruche',{nomruche: peseruche.nompeseruche  }) }}"> {{ peseruche.nompeseruche }}			</a></td>
			<td> {{ peseruche.Proprietaire.Nom }}					</td>
			<td> {{ peseruche.rucher.Nom }}							</td>
			<td> {{ peseruche.dateinstall|date("m/d/Y") }}			</td>
			<td> {{ peseruche.visibilite }}							</td>
			<td> {{ peseruche.Rucher.Region }}						</td>
		</tr>
        {% endfor %}
        </table>
        {% else %}
         <h1>Aucune ruche dans la r&eacute;gion choisie</h1>
        
        {% endif %}
        <br></br>
       
    </center>
{% endblock %}