{% extends 'base.html.twig' %}

{% block title %}Gestionnaire des apiculteurs{% endblock %}

{% block body %}

<meta charset="UTF-8">
<br>
<h1><center>{% trans %}Gestionnaire des apiculteurs{% endtrans %}</center></h1><br>
	<table id="capiculteur" class="table table-striped">
		<thread>
			<tr>
				<th>{% trans %}Nom{% endtrans %}</th>
				<th>{% trans %}Prénom{% endtrans %}</th>
				<th>{% trans %}Pseudo{% endtrans %}</th>
				<th>{% trans %}Mail{% endtrans %}</th>
				<th>{% trans %}Téléphone{% endtrans %}</th>
				<th>{% trans %}Adresse postale{% endtrans %}</th>
				<th>{% trans %}Code postal{% endtrans %}</th>
				<th>{% trans %}Ville{% endtrans %}</th>
				<th>{% trans %}Type d'utilisateur{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
		</thread>
		<tbody>
			{% for capiculteur in users %}
				<tr>
					<td>{{ capiculteur.nom }}</td>
					<td>{{ capiculteur.prenom }}</td>
					<td>{{ capiculteur.pseudo }}</td>
					<td>{{ capiculteur.mail }}</td>
					<td>{{ capiculteur.tel }}</td>
					<td>{{ capiculteur.postaddr }}</td>
					<td>{{ capiculteur.codepostal }}</td>
					<td>{{ capiculteur.ville }}</td>
					<td>
						{% for  role in capiculteur.roles %}
						    {% if role=="ROLE_USER" %}
								Apiculteur
						    {% elseif role=="ROLE_ADMIN" %}
								Administrateur
						    {% endif %}
						{% endfor %}
					</td>
					<td>
					<a href="{{ path('edit', {'nom' : capiculteur.nom}) }}" class="btn btn-dark">{% trans %}Modifier{% endtrans %}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>			
	</table>

{% endblock %}