{% extends 'base.html.twig' %}

{% block title %}Modification d'une association ruche-port{% endblock %}

{% block body %}
<meta charset="UTF-8">
<center><h1>{% trans %}Modification d'une association ruche-port{% endtrans %}</h1></center>

<div class="d-flex justify-content-around">
    {{ form_start(formAssosRuchePort) }}
    
    <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div style="display:none">{{ form_row(formAssosRuchePort.ruche, { 'attr' : { 'placeholder':'Ruche'}}) }}</div>
    </div>
    <div class="form-group col-md-12">
       {{ form_row(formAssosRuchePort.station, { 'label' : 'Station' , 'attr' : { 'placeholder':'Station'}}) }}
    </div>
    <div class="form-group col-md-12">
       {{ form_row(formAssosRuchePort.numport, { 'label' : 'Port' , 'attr' : { 'placeholder':'Port'}}) }}
    </div>
  </div>
    {{ form_widget(formAssosRuchePort) }}
    
	<button type="submit" class="btn btn-success">{% trans %}Modifier{% endtrans %}</button>
	<a href="{{ path('ruches_privees') }}"><button class="btn btn-secondary">{% trans %}Annuler{% endtrans %}</button></a>
    {{ form_end(formAssosRuchePort) }}
    </div>
    <center>
    <br><br><br>
    <table border bgcolor="white" cellpadding="5px">
        <tr>
        	<td>{% trans %}Stations disponibles{% endtrans %}</td>
        	<td>{% trans %}Ports déjà utilisés{% endtrans %}</td>
        </tr>
        {% for station in stations %}
        <tr>
        	<td> {{ station.nom }} </td>
        	<td> {% for stationPort in stationPorts %} {% for stationport in stationPort %} {% if stationport.station.nom == station.nom %} {{ stationport.numport }},  {% endif %} {% endfor %}{% endfor %} </td>
        </tr>
        {% endfor %}
    </table>
    </center>
    

{% endblock %}