{% extends 'base.html.twig' %}
{% block title %} Ajouter un Rucher{% endblock %}
{% block body %}
            {% for station in app.flashes('station') %}
              	<center><div class="alert alert-success">
                	{{ station }}
  	    		</div></center>
  	    	{% endfor %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
<br>
	<center><h1>{% trans %}Ajouter une station{% endtrans %}</h1></center>
	<br>
	<div class="d-flex justify-content-around">
		
    		{{ form_start(addStationForm) }}
       		{{ form_widget(addStationForm) }}	
           		
       			<button type="submit" class="btn btn-primary">{% trans %}Valider{% endtrans %}</button>
       		
            {{ form_end(addStationForm) }}
           
    	
    	</div>
{% endblock %}