{% extends 'base.html.twig' %}

{% block title %}AddRuche{% endblock %}

{% block body %}
 {% for message in app.flashes('message') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">

<center><h1>{% trans %}Ajout d'une ruche{% endtrans %}</h1></center>
<br>
	<div class="d-flex justify-content-around">

            {{ form_start(addRucheForm) }}
            {{ form_row(addRucheForm.Nom_ruche, { 'label' :  'Nom de la ruche', 'attr' : { 'placeholder':'Nom de la ruche'}}) }}
            {{ form_row(addRucheForm.Date_installation, { 'label' : 'Date d\'installation' }) }}
            {{ form_row(addRucheForm.Etat, { 'label' : 'État' }) }}
            {{ form_row(addRucheForm.Type_ruche, { 'label' : 'Type ruche'}) }}
            {{ form_row(addRucheForm.Rucher, { 'label' :  'Rucher'}) }}
            {{ form_row(addRucheForm.PeseRuche, { 'label' :  'Pese ruche'}) }}
            {{ form_row(addRucheForm.Visibilite, { 'label' :  'Visibilite'}) }}

    <button type="submit" class="btn btn-primary">{% trans %}Valider{% endtrans %}</button></center>
    
{{ form_end(addRucheForm) }}

	</div>

{%  endblock %}