{% extends 'base.html.twig' %}
{% block title %} Ajouter un Rucher{% endblock %}
{% block body %}

 {% for message in app.flashes('success') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
	<br>
	<center><h1>{% trans %}Ajouter un rucher{% endtrans %}</h1></center>
	<br>
	<div class="d-flex justify-content-around">
		
    		{{ form_start(addrucherform) }}
       		{{ form_widget(addrucherform) }}	
           		
       			<button type="submit" class="btn btn-primary">{% trans %}Valider{% endtrans %}</button>
       		
            {{ form_end(addrucherform) }}
            {% for message in app.flashes('notice') %}
              	<div class="flash-notice">
                	{% trans %}Chargement effectué{% endtrans %}
  	    		</div>
  	    	{% endfor %}
    	
    	
	<br>
	<div class="row">
			<div id="block2" class="col-lg-4">
			<center>
				<table class="table table-bordered" >
                	<tr>
                		<td>{% trans %}Latitude{% endtrans %}</td>
                		<td>{% trans %}Longitude{% endtrans %}</td>
                		<td>{% trans %}Région{% endtrans %}</td>
                	</tr>
                	<tr>
                	    <td> {{ latitude }}						</td>
                	    <td> {{ longitude }}					</td>
                	    <td> {{ region }}					</td>
                	</tr>
                </table>
                <br></br>
            </center>
			</div>
		</div>
		<a href="{{ path ('googleMap') }}"><button class="btn btn-primary">{% trans %}Afficher la carte {% endtrans %}</button></a>
	</div>
{% endblock %}