{% extends 'base.html.twig' %}

{% block title %}Hello AddPeseRucheController!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}
<meta charset="UTF-8">

<center><h1>{% trans %}Ajout d'un pese ruche{% endtrans %}</h1></center>

	<div class="d-flex justify-content-around">

    {{ form_start(addPeseRucheForm) }}

    {{ form_row(addPeseRucheForm.nompeseruche, { 'label': 'Nom pèse ruche', 'attr' : { 'placeholder':'Nom pèse ruche'}}) }}
    {{ form_row(addPeseRucheForm.dateinstall, { 'label': 'Date d\'installation', 'attr' : { 'placeholder':'Date d\'installation'}}) }}
    {{ form_row(addPeseRucheForm.nomstation, {'label': 'Nom station'}) }}

	<button type="submit" class="btn btn-primary">{% trans %}Ajout{% endtrans %}</button>

	</div>
{{ form_end(addPeseRucheForm) }}
{% endblock %}