{% extends 'base.html.twig' %}
{% block title %}Mesures Stations{% endblock %}
{% block body %}
 {% for mesuresStation in app.flashes('mesuresStation') %}
      		 <center><div class="alert alert-success">
        	    {{ mesuresStation }}
			 </div></center>
     	  {% endfor %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">

<center><h1>Ajout d'une mesure</h1></center>
<br>
	<div class="d-flex justify-content-around">

            {{ form_start(addMesuresStationsForm) }}
            {{ form_widget(addMesuresStationsForm) }}

    <button type="submit" class="btn btn-primary">Valider</button></center>
    
{{ form_end(addMesuresStationsForm) }}

	</div>

{%  endblock %}