{% extends 'base.html.twig' %}

{% block title %}AddRuche{% endblock %}

{% block body %}
 {% for message in app.flashes('message') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">

<center><h1>Ajout d'une ruche</h1></center>
<br>
	<div class="d-flex justify-content-around">

            {{ form_start(addRucheForm) }}
            {{ form_widget(addRucheForm) }}

    <button type="submit" class="btn btn-primary">Valider</button></center>
    
{{ form_end(addRucheForm) }}

	</div>

{%  endblock %}