<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
		 	<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
			<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
			<img src="{{ asset('bee.jpg') }}" width="50px" height="50px"/>
  <a class="navbar-brand" href="{{ path('index') }}">Club API - Thales</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('ruches_publiques') }}">Ruches publiques <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ruches_privees') }}">Ruches privees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('gestionnaire_apiculteurs') }}">Gestionnaire apiculteurs</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="{{ path('add') }}">Ajout d'une ruche</a>
  	  </li>
    </ul>
    <a href="registration"><button>Inscription</button></a> &nbsp;
    <a href="connexion"><button>Connexion</button></a>
  </div>
</nav>
        {% block body %}
        
        <center><h1>Bienvenue</h1></center>
        <br>
        
        <br>
        <img src="{{ asset('ruche.jpg') }}">
        <br>
        
        <a class="link" href="{{ path('carte') }}">Voir la carte</a>
        
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>