<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        {% endblock %}

    </head>
    
    <body>
		 	
			<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
			<img src="{{ asset('bee.png') }}" width="50px" height="50px"/>
  <a class="navbar-brand" href="{{ path('home') }}">Club API - Thales</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    <!-- 
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('ruches_publiques') }}">Ruches publiques <span class="sr-only"></span></a>
      </li>
       -->
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ruches_privees') }}">Mes ruches</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="{{ path('add') }}">Ajout d'une ruche</a>
  	  </li>
      <li class="nav-item">
      	<a class="nav-link" href="{{ path('googleMap') }}">Ajout d'un rucher</a>
  	  </li>
  	  <li class="nav-item">
        <a class="nav-link" href="{{ path('gestionnaire_apiculteurs') }}">Gestionnaire apiculteurs</a>
      </li>
    </ul>
    <a href="{{ path('registration') }}"><button>Inscription</button></a> &nbsp;
    <a href="{{ path('security_login') }}"><button>Connexion</button></a>
  </div>
</nav>

        {% block body %}
        
        
       
     
        
        
        <center><h1>Bienvenue</h1></center>
        <br>
        
        <br>
        <img src="{{ asset('ruche.jpg') }}">
        <br>
        
       
        
        {% endblock %}

        {% block javascripts %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
        {% endblock %}
    </body>
</html>