{% extends 'base.html.twig' %}

{% block title %}Mon carnet d'apiculteur{% endblock %}

{% block body %}
<meta charset="UTF-8">

<center><h1>{% trans %}Mon carnet d'apiculteur{% endtrans %}</h1></center>
<table id="carnet" class="table table-striped">
	<thread>
		<tr>
			<th>{% trans %}Nom de la ruche{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Ruche{% endtrans %}</th>
			<th>{% trans %}Commentaire{% endtrans %}</th>	
			<th>{% trans %}État ruche{% endtrans %}</th>
			<th>{% trans %}État essaim{% endtrans %}</th>
			<th>{% trans %}Origine essaim{% endtrans %}</th>
			<th>{% trans %}Nb cadres couvain{% endtrans %}</th>
			<th>{% trans %}Opercule du couvain{% endtrans %}</th>
			<th>{% trans %}Mâles{% endtrans %}</th>
			<th>{% trans %}Larves{% endtrans %}</th>
			<th>{% trans %}Œufs{% endtrans %}</th>
			<th>{% trans %}Date reine{% endtrans %}</th>
			<th>{% trans %}Race reine{% endtrans %}</th>
			<th>{% trans %}Âge reine{% endtrans %}</th>
			<th>{% trans %}Cellules royales{% endtrans %}</th>
			<th>{% trans %}Nb cadres miel{% endtrans %}</th>
			<th>{% trans %}Nb cadres pollen{% endtrans %}</th>
			<th>{% trans %}Date traitement{% endtrans %}</th>
			<th>{% trans %}Nature traitement{% endtrans %}</th>
			<th>{% trans %}Date nourrissement{% endtrans %}</th>
			<th>{% trans %}Quantité nourrissement{% endtrans %}</th>
			<th>{% trans %}Nature nourrissement{% endtrans %}</th>
			<th>{% trans %}Date récolte{% endtrans %}</th>
			<th>{% trans %}Nb hausse récoltées{% endtrans %}</th>
			<th>{% trans %}Nature miel{% endtrans %}</th>
			<th>{% trans %}Présence varroa{% endtrans %}</th>
			<th>{% trans %}État des abeilles{% endtrans %}</th>
			<th>{% trans %}Date transhumance{% endtrans %}</th>
			<th>{% trans %}Lieu transhumance{% endtrans %}</th>	
		</tr>
		
		<tbody>
			{% for carnet in carnet %}
				<tr>
					<td>{{ carnet.Ruche }}</td>
					<td>{{ capiculteur.date }}</td>
					<td>{{ capiculteur.Action }}</td>
					<td>{{ capiculteur.commentaire }}</td>
				</tr>
			{% endfor %}
		</tbody>
		
		<a href="{{ path('add_carnet') }}"><button class="btn btn-primary">{% trans %}Ajouter une info{% endtrans %}</button></a>	
		
	</thread>
</table>

{% endblock %}