{% extends 'base.html.twig' %}
{% block body %}
<meta charset="UTF-8">
<br>
<center><h1>{% trans %}Mon carnet d'apiculteur{% endtrans %}</h1></center>
<br>
<div class="row justify-content-center">
	<div class="col-auto">
 	<table class="table table-responsive table-striped table-bordered table-hover" style="width:57%; float:left">
 		
		    {% for carnet in carnets %}
                    <br><center><h2>{{ carnet.ruche }}</h2></center>
					<div style="width:50%; float:left"><center><h4>{% trans %}Commentaire{% endtrans %}</h4></center>
					<center>{{ carnet.commentaire }}</center></div>
					<div style="width:50%; float:left"><center><h4>{% trans %}État des abeilles{% endtrans %}</h4></center>
					<center>{% for  etatabeilles in carnet.etatabeilles %}
						    {% if etatabeilles=="Grandes" %}
								{% trans %}Grandes{% endtrans %}
						    {% elseif etatabeilles=="Petites" %}
								{% trans %}Petites{% endtrans %}
							{% elseif etatabeilles=="Ailes atrophiees" %}
								{% trans %}Ailes atrophiees{% endtrans %}
							{% elseif etatabeilles=="Agressives" %}
								{% trans %}Agressives{% endtrans %}
							{% elseif etatabeilles=="Douces" %}
								{% trans %}Douces{% endtrans %}
						    {% endif %}
							{% endfor %}</center><br></div>
					<center><h3>{{ carnet.date|date('d/m/Y') }}</h3></center><br>
			{% endfor %}
	
	<thread>
		<tr>
			<th><center>{% trans %}État ruche{% endtrans %}</center></th>
			<th><center>{% trans %}État essaim{% endtrans %}</center></th>
			<th><center>{% trans %}Origine essaim{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.etatruche }}</td>
				<td>{% for  etatessaim in carnet.etatessaim %}
						    {% if etatessaim=="Orpheline" %}
								{% trans %}Orpheline{% endtrans %}
						    {% elseif etatessaim=="Bourdonneuse" %}
								{% trans %}Bourdonneuse{% endtrans %}
						    {% endif %}
					{% endfor %}</td>
					<td>{{ carnet.origineessaim }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Présence de mâles{% endtrans %}</center></th>
			<th><center>{% trans %}Présence de larves{% endtrans %}</center></th>
			<th><center>{% trans %}Présence d'œufs{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.presencemales }}</td>
				<td>{{ carnet.presencelarves }}</td>
				<td>{{ carnet.presenceoeufs }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Date d'arrivée de la reine{% endtrans %}</center></th>
			<th><center>{% trans %}Âge de la reine{% endtrans %}</center></th>
			<th><center>{% trans %}Race de la reine{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.datereine|date('d/m/Y')}}</td>
				<td>{{ carnet.agereine }}</td>
				<td>{{ carnet.racereine }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Date nourrissement{% endtrans %}</center></th>
			<th><center>{% trans %}Quantité nourrissement{% endtrans %}</center></th>
			<th><center>{% trans %}Nature nourrissement{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.datenourrissement|date('d/m/Y')}}</td>
				<td>{{ carnet.qttnourrissement }}</td>
				<td>{{ carnet.naturenourrissement }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Date récolte{% endtrans %}</center></th>
			<th><center>{% trans %}Nombre de hausse récoltées{% endtrans %}</center></th>
			<th><center>{% trans %}Nature miel{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.daterecolte|date('d/m/Y')}}</td>
				<td>{{ carnet.nbhausserecoltees }}</td>
				<td>{{ carnet.naturemiel }}</td>
			</tr>
		{% endfor %}
	</tbody>

	</table>

	<table class="table table-responsive table-striped table-bordered table-hover" style="width:43%; float:left">
		
		
	<thread>
		<tr>
			<th><center>{% trans %}Nombre de cadres couvain{% endtrans %}</center></th>
			<th><center>{% trans %}Couvain operculé{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.nbcadrescouvain }}</td>
				<td>{{ carnet.couvainopercule }}</td>
			</tr>
		{% endfor %}
	</tbody>
		
	<thread>
		<tr>
			<th><center>{% trans %}Nombre de cadres de miel de réserve{% endtrans %}</center></th>
			<th><center>{% trans %}Nombre de cadres de pollen{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.nbcadresmiel}}</td>
				<td>{{ carnet.nbcadrespollen }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Date d'introduction au traitement{% endtrans %}</center></th>
			<th><center>{% trans %}Nature du traitement{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.datetraitement|date('d/m/Y')}}</td>
				<td>{{ carnet.naturetraitement }}</td>
			</tr>
		{% endfor %}
	</tbody>
		
	<thread>
		<tr>
			<th><center>{% trans %}Présence varroa{% endtrans %}</center></th>
			<th><center>{% trans %}Présence cellules royales{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.presencevarroa}}</td>
				<td>{{ carnet.cellulesroyales}}</td>
			</tr>
		{% endfor %}
	</tbody>
	
	<thread>
		<tr>
			<th><center>{% trans %}Date transhumance{% endtrans %}</center></th>
			<th><center>{% trans %}Lieu transhumance{% endtrans %}</center></th>
		</tr>
	</thread>
	<tbody>
		{% for carnet in carnets %}
			<tr>
				<td>{{ carnet.datetranshumance|date('d/m/Y')}}</td>
				<td>{{ carnet.lieutranshumance }}</td>
			</tr>
		{% endfor %}
	</tbody>
			
	</table>
	
	</div>
	
</div>
			{% if paginations.getTotalItemCount =='0' %}
			<center><h1>{% trans %}Aucune information enregistrée.{% endtrans %}</h1></center><br>
            {% endif %}
			<center><a href="{{ path('carnet') }}"><button class="btn btn-primary">{% trans %}Retour{% endtrans %}</button></a></center><br>
			<ul class="pagination justify-content-end">
			    {{ knp_pagination_render(carnets) }}	
			</ul>
	    
{% endblock %}