{% extends 'base.html.twig' %}

{% block title %}Mon carnet d'apiculteur{% endblock %}

{% block body %}
<meta charset="UTF-8">

<center><h1>{% trans %}Mon carnet d'apiculteur{% endtrans %}</h1></center>
<table id="carnet" class="table table-striped">
	<thread>
		<tr>
			<th>{% trans %}Nom de la ruche{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Action{% endtrans %}</th>
			<th>{% trans %}Commentaire{% endtrans %}</th>			
		</tr>
		
		<tbody>
			{% for carnet in carnet %}
				<tr>
					<td>{{ carnet.Ruche }}</td>
					<td>{{ capiculteur.date }}</td>
					<td>{{ capiculteur.Action }}</td>
					<td>{{ capiculteur.commentaire }}</td>
				</tr>
			{% endfor %}
		</tbody>
		
		<a href="{{ path('add_carnet') }}"><button class="btn btn-primary">{% trans %}Ajouter une info{% endtrans %}</button></a>	
		
	</thread>
</table>

{% endblock %}