{% extends 'base.html.twig' %}
{% block body %}
<meta charset="UTF-8">

<center><h1>{% trans %}Mon carnet d'apiculteur{% endtrans %}</h1></center>
<table id="carnet" class="table table-striped">			
			{% for carnet in carnets %}
                    <br><center><h2>{{ carnet.ruche }}</h2></center>
					<center><h3>{{ carnet.date|date('d/m/Y') }}</h3></center><br>					
					
					<center><p><b>État ruche État essaim Origine essaim</b></p></center>
					<center>{{ carnet.etatruche }}
					{% for  etatessaim in carnet.etatessaim %}
						    {% if etatessaim=="Orpheline" %}
								Orpheline
						    {% elseif etatessaim=="Bourdonneuse" %}
								Bourdonneuse
						    {% endif %}
					{% endfor %}
					{{ carnet.origineessaim }}</center><br>
					
					<center><p><b>Nombre de cadres couvain Opercule du couvain</b></p></center>
					<center>{{ carnet.nbcadrescouvain }}
					{{ carnet.couvainopercule }}</center><br>
					
					<center><p>Présence de mâles Présence de larves Présence d'œufs</p></center>
					<center>{{ carnet.presencemales }}
					{{ carnet.presencelarves }}
					{{ carnet.presenceoeufs }}</center><br>
					
					<center><p>Date d'arrivée de la reine Race de la reine Âge de la reine Présence de cellules royales</p></center>
					<center>{{ carnet.datereine|date('d/m/Y') }}
					{{ carnet.racereine }}
					{{ carnet.agereine }}
					{{ carnet.cellulesroyales }}</center><br>
					
					<center><p>Nombre de cadres de miel de réserve Nombre de cadres de pollen</p></center>
					<center>{{ carnet.nbcadresmiel }}
					{{ carnet.nbcadrespollen }}</center><br>
					
					<center><p>Date d'introduction au traitement Nature du traitement</p></center>
					<center>{{ carnet.datetraitement|date('d/m/Y') }}
					{{ carnet.naturetraitement }}</center><br>
					
					<center><p>Date nourrissement Quantité Nourrissement Nature du nourrissement</p></center>
					<center>{{ carnet.datenourrissement|date('d/m/Y')  }}
					{{ carnet.qttnourrissement }}
					{{ carnet.naturenourrissement }}</center><br>
					
					<center><p>Date de récolte Nombre de hausse récoltées Nature du miel</p></center>
					<center>{{ carnet.daterecolte|date('d/m/Y') }}
					{{ carnet.nbhausserecoltees }}
					{{ carnet.naturemiel }}</center><br>
					
					<center><p>Présence varroa État des abeilles</p></center>
					<center>{{ carnet.presencevarroa }}
					{% for  etatabeilles in carnet.etatabeilles %}
						    {% if etatabeilles=="Grandes" %}
								Grandes
						    {% elseif etatabeilles=="Petites" %}
								Petites
							{% elseif etatabeilles=="Ailes atrophiees" %}
								Ailes atrophiees
							{% elseif etatabeilles=="Agressives" %}
								Agressives
							{% elseif etatabeilles=="Douces" %}
								Douces
						    {% endif %}
					{% endfor %}</center><br>
					
					<center><p>Date transhumance Lieu transhumance</p></center>
					<center>{{ carnet.datetranshumance|date('d/m/Y') }}
					{{ carnet.lieutranshumance }}</center><br>

					<center><p>Commentaire</p></center>
					<center>{{ carnet.commentaire }}</center><br>
			{% endfor %}				
</table>
			{% if paginations.getTotalItemCount =='0' %}
			<center><h1>Aucune information enregistrée.</h1></center><br>
            {% endif %}
			<center><a href="{{ path('carnet') }}"><button class="btn btn-primary">{% trans %}Retour{% endtrans %}</button></a></center><br>
			<ul class="pagination justify-content-end">
			    {{ knp_pagination_render(carnets) }}	
			</ul>
		    
{% endblock %}