{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<center><h3>{% trans %}Les données de la ruche {% endtrans %} {{ nomruche }} {% trans %} qui appartient à {% endtrans %} {{ proprietaire }} </h3>
<br></br>

<figure class="highcharts-figure">
  <div id="test" style="width:400px; max-height:400px;"></div>
  </figure>	
	<figure class="highcharts-figure">
  <div id="{{ nomruche }}" style="width:400px;"></div>
  </figure>
{% if ruchepubliques %}
<form id="form_ruche_public" >
    <select id="liste_ruche_public" onchange="nom_ruche()">
    {% for ruchepublique in ruchepubliques %}
        {% if ruchepublique.nomruche == nomruche %}
        	<option selected value="">{{ ruchepublique.nomruche }}
        {% else %}
        	<option value="{{ ruchepublique.nomruche }}">{{ ruchepublique.nomruche }}
    	{% endif %}</option>
    {% endfor %}
    </select>
</form>
{% endif %}

{% if rucheprivees %}
<form id="form_ruche_privee" >
    <select id="liste_ruche_privee" onchange="nom_ruche()">
    {% for rucheprivee in rucheprivees %}
	    {% if rucheprivee.ruche.nomruche == nomruche %}
        	<option selected value="">{{ rucheprivee.ruche.nomruche }}
        {% else %}
        	<option value="{{ rucheprivee.ruche.nomruche }}">{{ rucheprivee.ruche.nomruche }}
    	{% endif %}</option>
    {% endfor %}
    </select>
</form>
{% endif %}
  <script type="text/javascript">
  var url ='{{ path('mesures_ruche_diagramme',{nomruche : nomruche,nomruche2:'NULL'})}}';
  Highcharts.getJSON(url, function (data) {
	  // Create the chart
	  console.log('mesures_ruche {{nomruche}} ');
  	Highcharts.stockChart('test', {
	    
	chart:{
		type: 'line',
		zoomKey:'ctrl',
		zoomType:'x'
		},
		exporting: {
    	  	enabled:false
    	  },
	credits:{enabled:false},
	
    title: {
	      text: 'Les mesures de la ruche {{ nomruche }}'
	    },				
    series: [{                     				
	      	name: 'Poids de la ruche (en kg)',
	      	data: data,
	      	type: 'line',
	     	tooltip: {
	        	valueDecimals: 2
	      }
	    }]
	  });
	});
	</script>
	<script type="text/javascript">
  function nom_ruche(){
		var nomruchepublic = document.getElementById("liste_ruche_public").value;
		var nomrucheprivee = document.getElementById("liste_ruche_privee").value;
		
		if(nomruchepublic!=''){
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("liste_ruche_privee").style.display = 'none';
			document.getElementById("{{nomruche}}").style.display = 'block';
			document.getElementById("test").style.display = 'none';

			var url =' {{ path('mesures_ruche_diagramme',{nomruche : nomruche , nomruche2 : 'nomruche2'}) }} ';
			url=url.replace("nomruche2",nomruchepublic);
			Highcharts.getJSON(url, function (data) {
				  // Create the chart				  
				console.log('mesures_ruche {{nomruche}} et '+nomruchepublic);
			  	Highcharts.stockChart('{{ nomruche }}', {
				    
				chart:{
					zoomKey:'ctrl',
					zoomType:'x'
					},
					exporting: {
			    	  	enabled:false
			    	  },
					
					credits:{enabled:false},
			    title: {
				      text: 'Les mesures de la ruche {{ nomruche }} comparée à '+nomrucheprivee
				    },
			    series: [{                     				
				      	name: 'Poids Premiere ruche(en kg)',
				      	data: data[0],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 2
				      }
				    },{                     				
				      	name: 'Poids Seconde ruche(en kg)',
				      	data: data[1],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 1
				      }
				    }
				    ]
				  });
				});

			console.log('affiche div test avec la ruche {{nomruche}} et la ruche public : '+nomruchepublic);
		}else if(nomrucheprivee!=''){

			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'none';
			document.getElementById("{{nomruche}}").style.display = 'block';
			document.getElementById("test").style.display = 'none';

			var url =' {{ path('mesures_ruche_diagramme',{nomruche : nomruche , nomruche2 : 'nomruche2'}) }} ';
			url=url.replace("nomruche2",nomrucheprivee);
			Highcharts.getJSON(url, function (data) {
				  // Create the chart
				console.log('mesures_ruche {{nomruche}} et '+nomrucheprivee);
			  	Highcharts.stockChart('{{ nomruche }}', {
				    
				chart:{
					zoomKey:'ctrl',
					zoomType:'x',
					},

					exporting: {
			    	  	enabled:false
			    	  },
					credits:{enabled:false},
			    title: {
				      text: 'Les mesures de la ruche {{ nomruche }} comparée à '+nomrucheprivee
				    },
			    series: [{                     				
				      	name: 'Poids Premiere ruche(en kg)',
				      	data: data[0],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals:0
				      }
				    },{                     				
				      	name: 'Poids Seconde ruche(en kg)',
				      	data: data[1],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 0
				      }
				    }
				    ]
				  });
				});
			
			console.log('affiche div test avec la ruche {{nomruche}} et la ruche privee : '+nomrucheprivee);
		}
		else if(nomruchepublic==''){
			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("{{nomruche}}").style.display = 'none';
			document.getElementById("test").style.display = 'block';
			document.getElementById("nom_ruche_choisie").innerHTML ="";
			
			console.log('affiche div nomruche');				
		}else if(nomrucheprivee==''){

			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("{{nomruche}}").style.display = 'none';
			document.getElementById("test").style.display = 'block';
			document.getElementById("nom_ruche_choisie").innerHTML ="";
			
			console.log('affiche div nomruche');	
		}
	}</script>

  

{% endblock %}
