{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<center><h3>Les données de la ruche {{ nomruche }} qui appartient à {{ proprietaire }} installée le : {{ dateinstall|date("m/d/Y") }}</h3></center>
<br></br>
{% if mesuresstations %}
<h4>Les mesures de la station</h4>
<br></br>
<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>Nom Station</td>
	<td>Température</td>
	<td>Tension</td>
	<td>Humidité</td>
	<td>Pression</td>
	<td>Date du relevé</td>
	<td>Nom du Rucher</td>
</tr>
{% for mesuresstation in mesuresstations %}
<tr>
	<td>{{ mesuresstation.station.nomstation }}</td>
	<td>{{ mesuresstation.temperature}}</td>
	<td>{{ mesuresstation.tension }}</td>
	<td>{{ mesuresstation.humidite }}</td>
	<td>{{ mesuresstation.pression }}</td>
	<td>{{ mesuresstation.datereleve|date("m/d/Y") }}</td>
	<td>{{ mesuresstation.rucher.nomrucher }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if mesuresruches %}
<h4>Les mesures de la ruche</h4>
<br></br>
<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>Nom Ruche</td>
	<td>Poids</td>
	<td>Date du relevé</td>
	<td>Nom du Pèse Ruche</td>
</tr>
{% for mesuresruche in mesuresruches %} 
<tr>
	<td>{{ mesuresruche.ruche.nomruche }}</td>
	<td>{{ mesuresruche.poids }}</td>
	<td>{{ mesuresruche.datereleve|date("m/d/Y")}}</td>
	<td>{{ mesuresruche.peseruche.nompeseruche }}</td>
</tr>
{% endfor %}
</table>


{% endif %}


{% endblock %}