{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
 <br>
<center><h3>{% trans %}Les données de la ruche {% endtrans %} {{ nomruche }} {% trans %} qui appartient à {% endtrans %} {{ proprietaire }} {% trans %} installée le : {% endtrans %} {{ dateinstall|date("m/d/Y") }}</h3>
<br>
<div class="container ">
<div class="row">
<div class="block1 col-lg-5"> 
{% if mesuresstations %}
<h4>{% trans %}Les mesures de la station{% endtrans %}</h4>

<table border cellspacing="0" cellpadding="0" style="border:solid 1px black; font-family:verdana; font-size:12px;"> 
  <thead> 
    <tr style="background-color:lightgrey; height:20%;"> 
     	<td style="width:120px;">{% trans %}Date du relevé{% endtrans %}</td>
		<td style="width:90px;">{% trans %}Nom Station{% endtrans %}</td>
		<td style="width:70px;">{% trans %}Température{% endtrans %}</td>
		<td style="width:60px;">{% trans %}Tension{% endtrans %}</td>
		<td style="width:50px;">{% trans %}Humidité{% endtrans %}</td>
		<td style="width:70px;">{% trans %}Pression{% endtrans %}</td>
    </tr> 
  </thead>  
  <tbody> 
    <tr> 
      <td colspan="6"> 
        <div style="height:200px; overflow:auto; border-top:solid 1px black; border-bottom:solid 1px black;"> 
          <table border cellspacing="0" cellpadding="0" style="color:midnightblue; font-family:verdana; font-size:12px; text-align:center;"> 
            
           {% for mesuresstation in mesuresstations %} 
            <tbody>
            <tr>
            	<td style="width:108px;">{{ mesuresstation.datereleve|date("m/d/Y")}}</td>
            	<td style="width:82px;">{{ station.nom }}</td>
            	<td style="width:86px;">{{ mesuresstation.temperature }} °C</td>            	
            	<td style="width:40px;">{{ mesuresstation.tension }} V</td>            	
            	<td style="width:60px;">{{ mesuresstation.humidite }} %</td>            	
            	<td style="width:50px;">{{ mesuresstation.pression }} hPa</td>
            	
            </tr>
            </tbody>
            {% endfor %}
          </table> 
        </div> 
      </td> 
    </tr> 
  </tbody> 
</table> 
</div>
<div class="block2 col-lg-2"></div>
<div class="block3 col-lg-5" >
<figure class="highcharts-figure">
  <div id="chart" style="width:400px; max-height:400px;"></div>
  </figure>
  <script>
  var chartOptions = {
	      chart: {
	        type: 'line',
	        zoomType: 'x',
	        panning: true,
	        panKey: 'ctrl'
	      },
	      
	      title: {
	        text: '{% trans %} Les mesures de la station{% endtrans %} {{station.nom}}'
	      },
	      subtitle:{
	    	  text: '{% trans %} Utilisez Ctrl+Clic Gauche pour naviguer sur le diagramme {% endtrans %}',
	    	  color:'#111111'
	    	  },
	      xAxis: {
	        categories: [{% for mesuresstation in mesuresstations %}'{{ mesuresstation.datereleve|date ('d/m/Y')}}',{% endfor %}],
	      },
	      yAxis: {
	        title: 'Value'
	      },
	      series: [{
	        name: '{% trans %}Temperature{% endtrans %}',
	        data: [{% for mesuresstation in mesuresstations %}{{ mesuresstation.temperature }},{% endfor %}]
	      },{
		      name: '{% trans %}Tension{% endtrans %}',
		      data:[{% for mesuresstation in mesuresstations %}{{ mesuresstation.tension }},{% endfor %}]
	      },{
		      name:'{% trans %}Humidité{% endtrans %}',
		      data:[{% for mesuresstation in mesuresstations %}{{ mesuresstation.humidite }},{% endfor %}]
	      },{
		      name:'{% trans %}Pression{% endtrans %}',
		      data: [{% for mesuresstation in mesuresstations %}{{ mesuresstation.pression }},{% endfor %}]}
	      ],
	      responsive:{
		      rules:[{
			      condition:{
				      maxWidth:200
				      },
				      chartOptions:{
					      legend:{enabled:false},
					      }
				      },
				  {
				  condition:{
					  }	  }
		      ]
	      },
	    };

	    var chart = new Highcharts.Chart('chart',chartOptions);
  </script>
  <div>{% trans %}Pour afficher les mesures de la station détaillées cliquez{% endtrans %}
	<a href="{{ path('details_stations',{nomstation:station.nom,nomruche:nomruche}) }}" ><button>{% trans %}ICI{% endtrans %}</button></a>
	</div>
{% else %}
	<div>{% trans %}Aucune mesure pour cette station{% endtrans %}</div>
{% endif %}
</div>
</div>
<div class="row">
<div class="block1 col-lg-5">
{% if mesuresruches %}
<br></br>
<h4>{% trans %}Les mesures de la ruche{% endtrans %}</h4>

<table border cellspacing="0" cellpadding="0" style="border:solid 1px black; font-family:verdana; font-size:12px;"> 
  <thead> 
    <tr style="background-color:lightgrey; height:20%;"> 
     	<td style="width:103px;">{% trans %}Date du relevé{% endtrans %}</td>
		<td style="width:103px;">{% trans %}Nom Ruche{% endtrans %}</td>
		<td style="width:90px;">{% trans %}Poids{% endtrans %}</td>
    </tr> 
  </thead>  
  <tbody> 
    <tr> 
      <td colspan="3"> 
        <div style="height:200px; overflow:auto; border-top:solid 1px black; border-bottom:solid 1px black;"> 
          <table border cellspacing="0" cellpadding="0" style="color:midnightblue; font-family:verdana; font-size:12px; text-align:center;"> 
            
           {% for mesuresruche in mesuresruches %} 
            <tbody>
            <tr>
            	<td style="width:122px;">{{ mesuresruche.datereleve|date("m/d/Y")}}</td>
            	<td style="width:124px;">{{ nomruche }}</td>
            	<td style="width:90px;">{{ mesuresruche.poids }} kg</td>
            	
            </tr>
            </tbody>
            {% endfor %}
          </table> 
        </div> 
      </td> 
    </tr> 
  </tbody> 
</table> 
<table border bgcolor="white" cellpadding="5px">
<thead>
<tr>
	
</tr>
</thead>

</table>
</div>
<div class="block2 col-lg-6">

<figure class="highcharts-figure">
  <div id="chart2" style="width:400px; max-height:400px;"></div>
  </figure>
 <script type="text/javascript">
 var chartOptions = {
	      chart: {
	        type: 'line',
	        zoomType: 'x',
	        panning: true,
	        panKey: 'ctrl'
	      },
	      exporting: {
	    	  	enabled:false
	    	  },
	      title: {
	        text: '{% trans %}Les mesures de la ruche {% endtrans %}: {{nomruche}} '
	      },
	      subtitle:{
	    	  text: '{% trans %}Utilisez Ctrl+Clic Gauche pour naviguer sur le diagramme {% endtrans %}',
	    	  color:'#111111'
	    	  },
	      xAxis: {
	        categories: [{% for mesuresruche in mesuresruches %}'{{ mesuresruche.datereleve|date ('d/m/Y')}}',{% endfor %}],
	      },
	      yAxis: {
	        title: 'Value'
	      },
	      series: [{
	        name: '{% trans %}Poids{% endtrans %}',
	        data: [{% for mesuresruche in mesuresruches %}{{ mesuresruche.poids }},{% endfor %}]
	      }],
	      responsive:{
		      rules:[{
			      condition:{
				      maxWidth:200
				      },
				      chartOptions:{
					      legend:{enabled:false},
					      }
				      },
				  {
				  condition:{
					  }	  }
		      ]
	      },
	    };

	    var chart = new Highcharts.Chart('chart2',chartOptions);
	</script>
	<div class="block3 col-lg-6">Pour afficher les mesures de la ruche détaillées cliquez
	<a href="{{ path('details_ruches',{nomruche:nomruche}) }}" ><button>{% trans %}ICI{% endtrans %}</button></a>
	</div>
{% else %}
	<div>{% trans %}Aucune mesure pour cette ruche{% endtrans %}</div>
{% endif %}
 </div>

</div>
</div>

<br></br>
</center>
{% endblock %}