{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<center><h3>Les données de la ruche {{ nomruche }} qui appartient à {{ proprietaire }} installée le : {{ dateinstall|date("m/d/Y") }}</h3></center>
<br></br>
{% if mesuresstations %}
<h4>Les mesures de la station</h4>
<br></br>
<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>Nom Station</td>
	<td>Température</td>
	<td>Tension</td>
	<td>Humidité</td>
	<td>Pression</td>
	<td>Date du relevé</td>
	<td>Nom du Rucher</td>
</tr>
{% for mesuresstation in mesuresstations %}
<tr>
	<td>{{ mesuresstation.station.nom }}</td>
	<td>{{ mesuresstation.temperature}}</td>
	<td>{{ mesuresstation.tension }}</td>
	<td>{{ mesuresstation.humidite }}</td>
	<td>{{ mesuresstation.pression }}</td>
	<td>{{ mesuresstation.date_releve }}</td>
	<td>{{ mesuresstation.rucher.nom }}</td>
</tr>
{% endfor %}
</table>
{% for mesuresstation in mesuresstations %}
<div style="width:100px; height: 100px;"></div>
<script>
	$(function)(){
		$('container').highcharts({
			chart: {
				type:'bar'
					},
			title:{
				text: 'Mesures de la Station'}
					,
			xAxis:{
				categories: ['Temperature','Tension','Humidite','Pression']
					},
			yAxis:{
				title:{
					text:'Unités'
						}
					},
			series:[{
				name:'Jane',
				data:[{{mesuresstation.temperature}},{{ mesuresstation.tension }},{{ mesuresstation.humidite }},{{ mesuresstation.pression }}]
		})
		}
</script>

{% endfor %}
{% endif %}

{% if mesuresruches %}
<h4>Les mesures de la ruche</h4>
<br></br>
<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>Nom Ruche</td>
	<td>Poids</td>
	<td>Date du relevé</td>
	<td>Nom du Pèse Ruche</td>
</tr>
{% for mesuresruche in mesuresruches %} 
<tr>
	<td>{{ mesuresruche.station.nom }}</td>
	<td>{{ mesuresruche.poids }}</td>
	<td>{{ mesuresruche.date_releve }}</td>
	<td>{{ mesuresruche.peseruche.nom }}</td>
</tr>
{% endfor %}
</table>
{% for mesuresstation in mesuresstations %}
<div style="width:100px; height: 100px;"></div>
<script>
	$(function)(){
		$('container').highcharts({
			chart: {
				type:'bar'
					},
			title:{
				text: 'Mesures de la Ruche'}
					,
			xAxis:{
				categories: ['Poids']
					},
			yAxis:{
				title:{
					text:'Poids(en kg)'
						}
					},
			series:[{
				name:'Jane',
				data:[{{ mesuresruche.poids}}]
		})
		}
</script>

{% endfor %}
{% endif %}

{% endblock %}