{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 
<center><h3>{% trans %}Les données de la ruche {% endtrans %} {{ nomruche }} {% trans %} qui appartient à {% endtrans %} {{ proprietaire }} {% trans %} installée le : {% endtrans %} {{ dateinstall|date("m/d/Y") }}</h3>
<br></br>
<div class="container ">
<div class="row">
<div class="block1 col-lg-5">
{% if mesuresstations %}
<h4>{% trans %}Les mesures de la station{% endtrans %}</h4>

<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>{% trans %}Nom Station{% endtrans %}</td>
	<td>{% trans %}Température{% endtrans %}</td>
	<td>{% trans %}Tension{% endtrans %}</td>
	<td>{% trans %}Humidité{% endtrans %}</td>
	<td>{% trans %}Date du relevé{% endtrans %}</td>
	<td>{% trans %}Pression{% endtrans %}</td>
	<td>{% trans %}Nom du Rucher{% endtrans %}</td>
</tr>
{% for mesuresstation in mesuresstations %}
<tr>
	<td>{{ mesuresstation.station.nom }}</td>
	<td>{{ mesuresstation.temperature}}°C</td>
	<td>{{ mesuresstation.tension }} V</td>
	<td>{{ mesuresstation.humidite }}%</td>
	<td>{{ mesuresstation.datereleve|date("d/m/Y",false) }}</td>
	<td>{{ mesuresstation.pression}} hPa</td>
	<td>{{ mesuresstation.rucher.nom }}</td>
</tr>
{% endfor %}
</table>
</div>
<div class="block2 col-lg-2"></div>
<div class="block3 col-lg-5" >
<figure class="highcharts-figure">
  <div id="chart" style="width:400px;"></div>
  </figure>
  <script>
  var chartOptions = {
	      chart: {
	        type: 'line',
	        zoomType: 'x',
	        panning: true,
	        panKey: 'ctrl'
	      },
	      title: {
	        text: 'Les mesures de la station'
	      },
	      subtitle:{
	    	  text: 'Utilisez Ctrl+Clic Gauche pour naviguer sur le diagramme',
	    	  color:'#111111'
	    	  },
	      xAxis: {
	        categories: [{% for mesuresstation in mesuresstations %}'{{ mesuresstation.datereleve|date ('d/m/Y')}}',{% endfor %}],
	      },
	      yAxis: {
	        title: 'Value'
	      },
	      series: [{
	        name: 'Temperature',
	        data: [{% for mesuresstation in mesuresstations %}{{ mesuresstation.temperature }},{% endfor %}]
	      },{
		      name: 'Tension',
		      data:[{% for mesuresstation in mesuresstations %}{{ mesuresstation.tension }},{% endfor %}]
	      },{
		      name:'Humidité',
		      data:[{% for mesuresstation in mesuresstations %}{{ mesuresstation.humidite }},{% endfor %}]
	      },{
		      name:'Pression',
		      data: [{% for mesuresstation in mesuresstations %}{{ mesuresstation.pression }},{% endfor %}]}
	      ],
	      responsive:{
		      rules:[{
			      condition:{
				      maxWidth:200
				      },
				      chartOptions:{
					      legend:{enabled:false},
					      }
				      },
				  {
				  condition:{
					  }	  }
		      ]
	      },
	    };

	    var chart = new Highcharts.Chart('chart',chartOptions);
  </script>
{% else %}
	<div>Aucune mesures pour cette station</div>
{% endif %}
</div>
</div>
<div class="row">
<div class="block1 col-lg-5">
{% if mesuresruches %}
<br></br>
<h4>{% trans %}Les mesures de la ruche{% endtrans %}</h4>

<table border bgcolor="white" cellpadding="5px">
<tr>
	<td>{% trans %}Nom Ruche{% endtrans %}</td>
	<td>{% trans %}Poids{% endtrans %}</td>
	<td>{% trans %}Date du relevé{% endtrans %}</td>
	<td>{% trans %}Nom du Pèse Ruche{% endtrans %}</td>
</tr>
{% for mesuresruche in mesuresruches %} 
<tr>
	<td>{{ mesuresruche.ruche.nomruche }}</td>
	<td>{{ mesuresruche.poids }} kg</td>
	<td>{{ mesuresruche.datereleve|date("m/d/Y")}}</td>
	<td>{{ mesuresruche.peseruche.nompeseruche }}</td>
</tr>
{% endfor %}
</table>
</div>
<div class="block2 col-lg-6">

  <script type="text/javascript">
  function nom_ruche(){
		var nomruchepublic = document.getElementById("liste_ruche_public").value;
		var nomrucheprivee = document.getElementById("liste_ruche_privee").value;
		
		if(nomruchepublic!=''){
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("liste_ruche_privee").style.display = 'none';
			document.getElementById("{{nomruche}}").style.display = 'none';
			document.getElementById("test").style.display = 'block';

			var url =' {{ path('mesures_ruche_diagramme',{nomruche : nomruche , nomruche2 : 'nomruche2'}) }} ';
			url=url.replace("nomruche2",nomruchepublic);
			Highcharts.getJSON(url, function (data) {
				  // Create the chart
			  	Highcharts.stockChart('test', {
				    
				chart:{
					zoomKey:'ctrl',
					zoomType:'x'
					},
			    title: {
				      text: 'Les mesures de la ruche {{ nomruche }} comparée à '+nomrucheprivee
				    },
			    series: [{                     				
				      	name: 'Poids Premiere ruche(en kg)',
				      	data: data[0],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 2
				      }
				    },{                     				
				      	name: 'Poids Seconde ruche(en kg)',
				      	data: data[1],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 1
				      }
				    }
				    ]
				  });
				});

			console.log('affiche div test avec la ruche {{nomruche}} et la ruche public : '+nomruchepublic);
		}else if(nomrucheprivee!=''){

			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'none';
			document.getElementById("{{nomruche}}").style.display = 'none';
			document.getElementById("test").style.display = 'block';

			var url =' {{ path('mesures_ruche_diagramme',{nomruche : nomruche , nomruche2 : 'nomruche2'}) }} ';
			url=url.replace("nomruche2",nomrucheprivee);
			Highcharts.getJSON(url, function (data) {
				  // Create the chart
			  	Highcharts.stockChart('test', {
				    
				chart:{
					zoomKey:'ctrl',
					zoomType:'x',
					},
			    title: {
				      text: 'Les mesures de la ruche {{ nomruche }} comparée à '+nomrucheprivee
				    },
			    series: [{                     				
				      	name: 'Poids Premiere ruche(en kg)',
				      	data: data[0],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals:0
				      }
				    },{                     				
				      	name: 'Poids Seconde ruche(en kg)',
				      	data: data[1],
				      	type: 'line',
				     	tooltip: {
				        	valueDecimals: 0
				      }
				    }
				    ]
				  });
				});
			
			console.log('affiche div test avec la ruche {{nomruche}} et la ruche privee : '+nomrucheprivee);
		}
		else if(nomruchepublic==''){
			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("{{nomruche}}").style.display = 'block';
			document.getElementById("test").style.display = 'none';
			document.getElementById("nom_ruche_choisie").innerHTML ="";
			
			console.log('affiche div nomruche');				
		}else if(nomrucheprivee!=''){

			document.getElementById("liste_ruche_privee").style.display = 'block';
			document.getElementById("liste_ruche_public").style.display = 'block';
			document.getElementById("{{nomruche}}").style.display = 'block';
			document.getElementById("test").style.display = 'none';
			document.getElementById("nom_ruche_choisie").innerHTML ="";
			
			console.log('affiche div nomruche');	
		}
	}</script>
{% if ruchepubliques %}
<form id="form_ruche_public" >
    <select id="liste_ruche_public" onchange="nom_ruche()">
    {% for ruchepublique in ruchepubliques %}
            {% if ruchepublique.nomruche == nomruche %}
    	<option selected value="">{{ ruchepublique.nomruche }}
    {% else %}
    	<option value="{{ ruchepublique.nomruche }}">{{ ruchepublique.nomruche }}
	{% endif %}</option>
    {% endfor %}
    </select>
</form>
{% endif %}

{% if rucheprivees %}
<form id="form_ruche_privee" >
    <select id="liste_ruche_privee" onchange="nom_ruche()">
    {% for rucheprivee in rucheprivees %}
	      {% if rucheprivee.ruche.nomruche == nomruche %}
    	<option selected value="">{{ rucheprivee.ruche.nomruche }}
    {% else %}
    	<option value="{{ rucheprivee.ruche.nomruche }}">{{ rucheprivee.ruche.nomruche }}
	{% endif %}</option>
    {% endfor %}
    </select>
</form>
{% endif %}

<figure class="highcharts-figure">
  <div id="test" style="width:400px; "></div>
  </figure>
<figure class="highcharts-figure">
  <div id="{{ nomruche }}" style="width:400px; "></div>
  </figure>
 <script type="text/javascript">
 Highcharts.getJSON(' {{ path('mesures_ruche_diagramme',{nomruche : nomruche , nomruche2 : 'NULL'}) }} ', function (data) {
	  // Create the chart
  	Highcharts.stockChart('{{ nomruche }}', {
	    rangeSelector: {
	      selected: 1
	    },
	chart:{
		zoomKey:'ctrl',
		zoomType:'x'
		},
    title: {
	      text: 'Les mesures de la ruche {{ nomruche }}'
	    },
    series: [{                     				
	      	name: 'Poids (en kg)',
	      	data: data,
	      	type: 'line',
	     	tooltip: {
	        	valueDecimals: 2
	      }
	    }]
	  });
	});
	</script>
	{% else %}
	<div>Aucune mesures pour cette ruche</div>
{% endif %}
 </div>

</div>
</div>

<br></br>
</center>
{% endblock %}