{% extends 'Ruches/ruches_privees.html.twig' %}
{% block tableau_donnees %}
<!-- for HTML5 -->
<meta charset="UTF-8">
    <center>
     <a href = "{{ path('ruches_privees')}}"><button>{% trans %}Voir toutes mes ruches{% endtrans %}</button></a>
    <br></br>
   {% if apiculteurs %}
       
        <table border bgcolor="white" align-text="center" style="width:93%; text-align:center;">
        <thead>
        <tr>
        	<td style="width:93px;">{% trans %}Nom ruche{% endtrans %}</td>
        	<td style="width:74px;">{% trans %}État{% endtrans %}</td>
          	<td style="width:100px;">{% trans %}Date d'installation{% endtrans %}</td>
        	<td style="width:75px;">{% trans %}Visibilité{% endtrans %}</td>
        	<td style="width:70px;">{% trans %}Rucher{% endtrans %}</td>
        	<td style="width:84px;">{% trans %}Station{% endtrans %}</td>
        	<td style="width:49px;">{% trans %}Port{% endtrans %}</td>
        	<td >{% trans %}Action{% endtrans %}</td>
        </tr>
        </thead><tbody> 
    <tr> 
      <td colspan="8"> 
        <div style="height:200px; overflow:auto; border-top:solid 1px black; border-bottom:solid 1px black;"> 
          <table border cellspacing="0" cellpadding="0" style="color:midnightblue; font-family:verdana; font-size:12px; text-align:center;"> 
        {% for apiculteur in apiculteurs %}
        {% if apiculteur.ruche.etat != '4' %}
        <tbody>
		<tr> 
			<td style="width:91px;"><a href="{{ path('info_ruche',{nomruche: apiculteur.ruche.nomruche  }) }}"> {{ apiculteur.ruche.nomruche }}			</a></td>
			
			<td style="width:74px;"> {% if apiculteur.ruche.etat == '0' %}{% trans %}En attente{% endtrans %}{% elseif apiculteur.ruche.etat =='1' %}{% trans %}Dans un rucher{% endtrans %}{% elseif apiculteur.ruche.etat =='2' %}{% trans %}Chez un apiculteur{% endtrans %}{% endif %}</td>
			
			<td style="width:100px;"> {{ apiculteur.ruche.dateinstall|date("m/d/Y") }}			</td>
			
			<td style="width:75px;"> {% if apiculteur.ruche.visibilite=='0' %}{% trans %}Publique{% endtrans %}{% elseif apiculteur.ruche.visibilite=='1' %}{% trans %}Privée{% endtrans %}{% endif %}	</td>
			
			<td style="width:70px;"> {% if apiculteur.ruche.nbassosrucher == 1 %} {% for assosrucher in assosruchers %} {% if assosrucher.ruche == apiculteur.ruche %} {{ assosrucher.rucher.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			
			<td style="width:84px;"> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.station.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucune {% endtrans %} {% endif %}</td>
			
			<td style="width:49px;"> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.numport }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			
            {% set break = false %}
			<td> &nbsp;<a href="{{ path('edit_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier{% endtrans %}</a>
			<a href="{{ path('delete_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark"> {% for mesureruche in mesuresruches %} {% if not break %} {% if mesureruche.idruche == apiculteur.ruche.id %} {% set break = true %} {% endif %} {% endif %} {% endfor %} {% if apiculteur.ruche.carnets is not empty or break %} {% trans %}Archiver{% endtrans %} {% else %} {% trans %}Supprimer{% endtrans %} {% endif %}</a>
			{% if apiculteur.ruche.nbassosrucher == 1 %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier du rucher{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier du rucher{% endtrans %}</a>{% endif %}
			{% if apiculteur.ruche.nbassosport == 1 %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier de la station{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier de la station{% endtrans %}</a>{% endif %}
			<a href="{{ path('edit_assos_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier le rucher associé{% endtrans %}</a>
			{% if apiculteur.ruche.nbassosrucher == 1 %}<a href="{{ path('edit_assos_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier le port associé{% endtrans %}</a>{% else %}<a href="{{ path('edit_assos_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Modifier le port associé{% endtrans %}</a>{% endif %}</td>
		</tr>
		</tbody>
		{% endif %}
        {% endfor %}
        
        </table> 
        </div> 
      </td> 
    </tr> 
  </tbody> 
</table> 
        {% else %}
         <h1>{% trans %}Aucune ruche dans la région{% endtrans %} {{ region }}.</h1>
        {% endif %}
        <br></br>
       
    </center>
{% endblock %}