{% extends 'base.html.twig' %}

{% block title %}Filter New Form{% endblock %}

{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/ruches_publiques.css') }}">
	<div class="d-flex ">
	<!--  justify-content-around -->
		<div id="FilterSidebar">
    		<h1>Filtrer ma recherche!</h1>
    	
    	    {{ form_start(filterForm) }}
    			{{ form_widget(filterForm) }}
    		
    			<button type="submit" class="btn btn-primary shadow">Filtrer</button>
    	    {{ form_end(filterForm) }}
		</div>
		<div class="row" id="Content">
			{% for pagination in paginations %}
		<div class="col-xl-4 col-md-6 mb-2">
			<div class="card shadow mb-4">
				
				<div class="card-header">
					<center><div class="card-header py-3 align-items-center ">{{ pagination.nomruche }}</div>
					<figure class="highcharts-figure">
                      	<div class="card-header py-3 d-flex flex-row align-items-center " id="{{ pagination.nomruche }}" style="width:100%; max-height:15%;" ></div>
                  	</figure>
                  	</center>
                 	<script type="text/javascript">
                 	var url =' {{ path('mesures_ruche_diagramme',{nomruche : pagination.nomruche, nomruche2 :'NULL'}) }} ';
                     	Highcharts.getJSON(url, function (data) {
                     		if ( data.length == 0 ) {
                     	       console.log("NO DATA!");
                     	       document.getElementById("{{ pagination.nomruche }}").innerHTML='---> Pas de mesures pour cette ruche <---<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>';
                     	    }else{
                 		  	Highcharts.stockChart('{{ pagination.nomruche }}', {
                     		    rangeSelector: {
                     		      selected: 1
                     		    },
							chart:{
								zoomKey:'ctrl',
								zoomType:'x'
								},
                 		    series: [{                     				
                     		      	name: 'Poids (en kg)',
                     		      	data: data,
                     		      	type: 'line',
                     		     	tooltip: {
                     		        	valueDecimals: 2
                     		      }
                     		    }]
                     		  });
                     	    }
                     		});
                 	                		
                		</script>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Localisation: {{ region }}</h6>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Propriétaire: {{ pagination.associationRucheApiculteur.apiculteur.pseudo }}</h6>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Type de ruche: {{ pagination.typeruche }}</h6>
				</div>
			</div>
		</div>
		    {% endfor %}
			
			<div>
				{{ knp_pagination_render(paginations) }}
			</div>
		{% if paginations.getTotalItemCount =='0' %}
		<center><h1>Aucune ruche publique détectée</h1></center>
        {% endif %}
	
		</div>
	</div>
{% endblock %}
