{% extends 'base.html.twig' %}

{% block title %}Filter New Form{% endblock %}

{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/ruches_publiques.css') }}">
	<div class="d-flex">
	<!--  justify-content-around -->
		<div id="FilterSidebar">
    		<h1>Filtrer ma recherche!</h1>
    	
    	    {{ form_start(filterForm) }}
    			{{ form_widget(filterForm) }}
    		
    			<button type="submit" class="btn btn-primary shadow">Filtrer</button>
    	    {{ form_end(filterForm) }}
		</div>
		<div class="row" id="Content">
			{% for pagination in paginations %}
		<div class="col-xl-4 col-md-6 mb-2">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-primary">{{ pagination.nomruche }}</h6>
				</div>
				<div class="card-header">
					<img src="{{ asset('telecharge.png') }}" width="480"/>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Localisation: {{ region }}</h6>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Propriétaire: {{ pagination.associationRucheApiculteur.apiculteur.pseudo }}</h6>
				</div>
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-o font-weight-bold text-secondary">Type de ruche: {{ pagination.typeruche }}</h6>
				</div>
			</div>
		</div>
		    {% endfor %}
			
			<div>
				{{ knp_pagination_render(paginations) }}
			</div>
		{% if paginations.getTotalItemCount == 0 %}
		<center><h1>Aucune ruche publique dans la région {{ region }}</h1></center>
        {% endif %}
	
		</div>
	</div>
{% endblock %}
