{% extends 'base.html.twig' %}

{% block title %}Filter New Form{% endblock %}

{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/ruches_publiques.css') }}">
	<div class="d-flex" >
	<!--  justify-content-around -->
		<div id="FilterSidebar" style="width:20%;">
    		<h1>{% trans %}Filtrer ma recherche{% endtrans %}</h1>
    	
    	    {{ form_start(filterForm) }}
    			{{ form_widget(filterForm) }}
    		
    			<button type="submit" class="btn btn-primary shadow">{% trans %}Filtrer{% endtrans %}</button>
    	    {{ form_end(filterForm) }}
		</div>
		{% if paginations.getTotalItemCount() %}
		<div class="container">
		<div class="row">
		
			{% for pagination in paginations %}
			<div class="column" style=" float: left; padding: 0 10px;" id="Content">
			<div class="card shadow xl-4 mb-4" style="text-align:center;">
				<div class="card-header">
					<center><div class="card-header shadow">{{ pagination.nomruche }}</div>
					<figure class="highcharts-figure">
                      	<div class="card-body" id="{{ pagination.nomruche }}" style="width:375px; max-height:15%; text-align:center;" ></div>
                  	</figure>
                  	</center>
                 	<script type="text/javascript">
                 	var url =' {{ path('mesures_ruche_diagramme',{nomruche : pagination.nomruche, nomruche2 :'NULL'}) }} ';
                     	Highcharts.getJSON(url, function (data) {
                     		if ( data.length == 0 ) {
                     	       console.log("NO DATA!");
                     	       document.getElementById("{{ pagination.nomruche }}").innerHTML='<br><br><br><br><br><br><br><br>{% trans %}--> Pas de mesure pour cette ruche <--{% endtrans %}<br><br><br><br><br><br><br><br><br>';
                     	    }else{
                 		  	var options={
                 		  		rangeSelector : {
                 					selected : 0,
                 					inputEnabled: false,
                 					buttons: [{
                 						type: 'month',
                 						count: 1,
                 						text: '1m'
                 					},
                 					]
                 				},
                 				 navigation: {
                 			        buttonOptions: {
                 			            enabled: false
                 			        }
                 			    },
							chart:{
								renderTo:"{{ pagination.nomruche }}",
								zoomKey:'ctrl',
								zoomType:'x',
					              type: 'line'
								},
								exporting: {enabled:false},
								
								credits:{enabled:false},
                 		    series: [],
                 		    responsive:{
                     			      rules:[{
                     				      condition:{
                     					      maxHeight:300
                     					      },
                     					      chartOptions:{
                     						      legend:{enabled:false},
                     						      }
                     					      },]
                     		      },
                     		  };
                 		  	options.series=data;
                 		  	var chart=new Highcharts.StockChart(options);
                     	    }
                     		});
                 	                		
                		</script>
				</div>
				<div class="card-header p-3">
					<h6 class="m-o font-weight-bold text-secondary">{%trans %}Localisation : {% endtrans %} {{ region }}</h6>
				</div>
				<div class="card-header">
					<h6 class="m-o font-weight-bold text-secondary">{% trans %}Propriétaire : {% endtrans %}{% for rucheapi in rucheapis %} {% if rucheapi.ruche == pagination %} {{ rucheapi.apiculteur.pseudo }} {% endif %} {% endfor %}</h6>
				</div>
				<div class="card-header">
					<h6 class="m-o font-weight-bold text-secondary">{% trans %}Type de ruche : {% endtrans %} {{ pagination.typeruche }}</h6>
				</div>
			</div>
			</div>
		    {% endfor %}</div>

	</div>{% else %}
	<div class="mx-auto"><center><h1>{% trans %}Aucune ruche publique détectée.{% endtrans %}</h1></center></div>
	{% endif %}
	</div>
	
	<div class="align-self-end">
				{{ knp_pagination_render(paginations) }}
			</div>
	
{% endblock %}
