
{% extends 'base.html.twig' %}
{% block title %}Carte{% endblock %}
{% block body %}
{% for message in app.flashes('message') %}
      		 <center><div class="alert alert-success">
        	    {{ message }}
			 </div></center>
     	  {% endfor %}
<meta charset="UTF-8">
<br>
        	<center><h1>{% trans %}Carte interactive des régions de France{% endtrans %}</h1>
        	
        	<img src="{{ asset('carte-france-regions.png') }}" alt="Les régions de France" usemap="#reg">
            <map name="reg" >
            	<area
            		shape="poly"
            		coords="108,208 , 98,203 , 88,196 , 84,200 , 70,188 , 52,183 , 45,186 , 37,174 , 48,172 , 43,164 , 54,165 , 48,157 
            		, 35,159 , 36,150 , 58,145 , 72,147 , 76,141 , 89,142 , 100,157 , 111,152 , 123,156 , 126,150 , 129,155 , 137,154 
            		, 142,162 , 148,158 , 152,160 , 151,183 , 145,195 , 139,191 , 132,197 , 122,197 , 117,200,116,205"
            		href="{{ path('tableau_donnees', {regions:'Bretagne' })}}"
	        		alt="Bretagne">
            		
            	<area
            		shape="poly"
            		coords="137,154 , 144,152 , 138,148 , 138,124 , 130,112 , 130,103 , 136,105 , 147,104 , 147,112 , 152,120 , 179,124
            		, 198,118 , 190,112 , 194,105 , 220,94 , 232,88 , 243,100, 243,124 , 238,134 , 233,141 , 229,149 , 213,152 , 213,158
            		, 217,161 , 217,167 , 210,171 , 212,177 , 198,170 , 196,162 , 186,167 , 178,158 , 166,163 , 159,159 , 152,160 , 148,158 , 142,161"
            		href="{{ path('tableau_donnees', {regions:'Normandie' }) }}"
            		alt="Normandie">
            
                <area
	             alt="Corse"
                 href="{{ path('tableau_donnees', {regions:'Corse' }) }}" 
                 coords="450,401,450,415,443,414,432,422,425,431,430,437,426,443,434,448,429,452,435,451,436,458,434,462,440,464,438,470,451,476,454,462,453,448,458,440,455,421" 
                 shape="poly">
                 
                <area 
                alt="Occitanie" 
            	href="{{ path('tableau_donnees', {regions:'Occitanie' }) }}" 
            	coords="285,452,284,429,293,413,305,410,315,401,323,395,328,405,335,398,340,392,341,384,348,378,342,375,339,363,332,361,325,364,318,356,313,342,304,337,296,333,289,338,285,346,275,334,271,338,265,347,255,350,256,342,249,332,242,333,230,330,222,345,216,353,216,360,205,375,173,383,171,396,176,399,178,411,167,431,176,440,185,438,198,438,203,431,222,437,231,443,246,449,251,457,257,452,268,456"
            	shape="poly">
            	
                <area 
                alt="Nouvelle-Aquitaine" 
                title="Nouvelle-Aquitaine" 
                href="{{ path('tableau_donnees', {regions:'Nouvelle-Aquitaine' }) }}" 
                coords="143,294,153,299,157,307,159,316,155,321,151,313,145,307,141,337,147,344,148,349,142,347,133,392,122,408,131,411,131,419,136,419,145,425,152,425,157,431,166,433,170,421,175,413,175,400,168,398,173,382,205,374,215,359,221,345,229,329,250,332,257,321,263,312,269,314,263,293,270,286,270,276,261,266,242,262,221,265,220,257,214,255,212,247,206,237,195,237,187,227,180,230,168,230,164,235,158,234,161,243,163,251,165,261,159,267,148,267,147,274,150,282"
                shape="poly">
                
                <area 
                alt="Provence-Alpes-Cote-d-Azur" 
                title="Provence-Alpes-Cote-d-Azur" 
                href="{{ path('tableau_donnees', {regions:'Provence-Alpes-Cote-d-Azur' }) }}" 
                coords="394,321,394,327,400,331,398,336,391,334,385,338,380,343,375,346,375,352,368,357,376,365,371,370,366,367,359,366,354,361,348,365,342,361,344,372,348,377,342,384,342,393,330,401,339,403,343,408,349,408,353,403,358,407,366,407,369,413,378,414,384,419,391,417,396,420,401,416,412,412,410,407,416,402,420,402,421,396,427,393,428,390,438,384,440,378,445,366,435,371,427,365,421,366,416,359,418,353,413,348,418,348,421,340,418,335,414,335,410,333,407,324" 
                shape="poly">
                
                <area 
                alt="Ile-de-France" 
                title="Ile-de-France" 
                href="{{ path('tableau_donnees', {regions:'Île-de-France' }) }}" 
                coords="240,128,238,135,232,135,234,141,237,147,236,154,242,159,243,167,248,165,250,172,255,171,262,170,266,176,263,181,279,179,283,175,283,169,294,167,294,161,296,161,298,156,295,148,297,144,289,141,285,136,285,132,277,133,271,135,263,131,256,130" 
                shape="poly">
                
                <area 
                alt="Pays-de-la-Loire" 
                title="Pays-de-la-Loire" 
                href="{{ path('tableau_donnees', {regions:'Pays-de-la-Loire' }) }}" 
                coords="185,226,191,207,197,208,203,203,207,198,212,190,210,184,210,177,204,175,196,171,197,165,191,165,185,168,179,160,164,164,153,161,150,173,150,185,146,189,144,194,138,193,132,196,127,199,120,199,115,206,108,208,102,214,102,217,108,218,114,216,120,215,119,219,114,224,119,231,114,237,115,243,121,248,122,255,134,260,138,264,144,266,151,263,159,265,161,258,157,240,152,233,161,235,167,228,178,228" 
                shape="poly">
                
                <area 
                alt="Grand-Est" 
                title="Grand-Est" 
                href="{{ path('tableau_donnees', {regions:'Grand-Est' }) }}" 
                coords="337,84,329,96,320,96,320,103,313,109,314,123,307,122,301,126,305,133,299,135,302,141,297,148,298,158,297,163,294,164,295,171,301,174,302,183,306,180,311,192,324,191,331,189,334,187,340,188,346,195,345,203,353,205,357,209,359,206,365,202,370,203,370,196,374,193,374,189,381,185,386,189,389,187,395,190,399,189,412,198,413,205,419,208,424,211,431,204,427,200,427,177,433,167,433,155,444,138,439,134,427,135,422,128,419,133,407,131,398,130,394,123,390,115,381,114,376,120,369,114,362,117,356,115,359,109,349,104,338,102" 
                shape="poly">
                
                <area 
                alt="Hauts-de-France" 
                title="Hauts-de-France" 
                href="{{ path('tableau_donnees', {regions:'Hauts-de-France' }) }}" 
                coords="266,42,239,50,239,84,233,89,242,95,244,102,241,107,244,126,242,129,251,130,262,130,271,134,286,131,288,138,292,142,299,145,302,142,299,134,305,133,301,125,309,118,313,122,313,108,320,103,320,95,314,91,317,86,316,78,307,76,299,77,300,69,290,68,285,52,278,58,272,54" 
                shape="poly">
                
                <area 
                alt="Auvergne-Rhones-Alpes" 
                title="Auvergne-Rhones-Alpes" 
                href="{{ path('tableau_donnees', {regions:'Auvergne-Rhones-Alpes' }) }}" 
                coords="250,333,255,341,253,349,264,345,267,338,274,332,282,345,287,338,295,332,312,341,317,355,323,363,331,359,338,362,344,361,354,361,359,365,365,366,370,371,374,366,365,357,372,352,373,344,388,332,396,336,398,331,392,328,392,321,399,322,419,316,421,307,416,303,415,296,409,294,410,288,415,281,407,271,409,266,406,261,399,261,397,267,391,265,392,272,387,275,380,275,380,269,386,267,384,264,378,267,371,265,364,268,358,259,348,257,344,273,338,268,330,269,327,275,321,273,314,273,315,266,314,259,307,258,304,247,298,251,285,250,281,244,269,251,269,258,260,258,260,264,269,275,270,285,262,292,268,313,262,312" 
                shape="poly">
                
                <area 
                alt="Centre-Val-de-Loire" 
                title="Centre-Val-de-Loire" 
                href="{{ path('tableau_donnees', {regions:'Centre-Val-de-Loire' }) }}" 
                coords="234,141,229,146,223,149,213,154,216,160,217,168,209,170,213,180,213,190,205,202,196,208,191,207,188,226,193,228,195,235,207,236,214,246,214,255,221,255,223,263,241,260,261,265,260,256,268,256,270,249,282,242,287,233,282,229,279,220,282,208,276,201,285,191,285,184,279,179,264,180,266,176,262,169,252,171,249,165,241,168,242,159,236,155,237,146" 
                shape="poly">
                
                <area 
                alt="Bourgogne-Franche-Comte" 
                title="Bourgogne-Franche-Comte" 
                href="{{ path('tableau_donnees', {regions:'Bourgogne-Franche-Comte' }) }}" 
                coords="294,169,284,168,284,174,280,178,287,184,287,190,276,200,283,207,280,218,282,228,287,233,282,244,286,250,296,250,304,245,306,254,313,257,313,272,322,272,327,275,329,268,338,268,344,273,346,256,360,258,363,267,369,264,377,266,384,263,386,251,397,244,395,235,403,230,411,214,412,205,411,197,399,188,396,190,389,187,386,190,380,184,374,188,374,195,368,197,369,203,358,209,352,205,345,204,346,194,339,188,333,187,325,191,311,192,306,179,302,184,301,173" 
                shape="poly">
            		
            		
            </map><br></br>
            
                <a href = "{{ path('ruches_desactivees')}}"><button class="btn btn-primary">{% trans %}Mes ruches archivées{% endtrans %}</button></a>
            <br></br>
        {% block tableau_donnees %}
        {% if apiculteurs %}
       
        <table border bgcolor="white" align-text="center" style="width:93%;">
        <thead>
        <tr>
        	<td style="width:93px;">{% trans %}Nom ruche{% endtrans %}</td>
        	<td style="width:74px;">{% trans %}État{% endtrans %}</td>
          	<td style="width:100px;">{% trans %}Date d'installation{% endtrans %}</td>
        	<td style="width:75px;">{% trans %}Visibilité{% endtrans %}</td>
        	<td style="width:60px;">{% trans %}Rucher{% endtrans %}</td>
        	<td style="width:69px;">{% trans %}Station{% endtrans %}</td>
        	<td style="width:39px;">{% trans %}Port{% endtrans %}</td>
        	<td >{% trans %}Action{% endtrans %}</td>
        </tr>
        </thead><tbody> 
    <tr> 
      <td colspan="8"> 
        <div style="height:200px; overflow:auto; border-top:solid 1px black; border-bottom:solid 1px black;"> 
          <table border cellspacing="0" cellpadding="0" style="color:midnightblue; font-family:verdana; font-size:12px; text-align:center;"> 
        {% for apiculteur in apiculteurs %}
        {% if apiculteur.ruche.etat != '4' %}
        <tbody>
		<tr> 
			<td style="width:90px;"><a href="{{ path('info_ruche',{nomruche: apiculteur.ruche.nomruche  }) }}"> {{ apiculteur.ruche.nomruche }}			</a></td>
			
			<td style="width:74px;"> {% if apiculteur.ruche.etat == '0' %}{% trans %}En attente{% endtrans %}{% elseif apiculteur.ruche.etat =='1' %}{% trans %}Dans un rucher{% endtrans %}{% elseif apiculteur.ruche.etat =='2' %}{% trans %}Chez un apiculteur{% endtrans %}{% endif %}</td>
			
			<td style="width:100px;"> {{ apiculteur.ruche.dateinstall|date("m/d/Y") }}			</td>
			
			<td style="width:75px;"> {% if apiculteur.ruche.visibilite=='0' %}{% trans %}Publique{% endtrans %}{% elseif apiculteur.ruche.visibilite=='1' %}{% trans %}Privée{% endtrans %}{% endif %}	</td>
			
			<td style="width:50px;"> {% if apiculteur.ruche.nbassosrucher == 1 %} {% for assosrucher in assosruchers %} {% if assosrucher.ruche == apiculteur.ruche %} {{ assosrucher.rucher.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			
			<td> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.station.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucune {% endtrans %} {% endif %}</td>
			
			<td> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.numport }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			
            {% set break = false %}
			<td> &nbsp;<a href="{{ path('edit_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier{% endtrans %}</a>
			<a href="{{ path('delete_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark"> {% for mesureruche in mesuresruches %} {% if not break %} {% if mesureruche.idruche == apiculteur.ruche.id %} {% set break = true %} {% endif %} {% endif %} {% endfor %} {% if apiculteur.ruche.carnets is not empty or break %} {% trans %}Archiver{% endtrans %} {% else %} {% trans %}Supprimer{% endtrans %} {% endif %}</a>
			{% if apiculteur.ruche.nbassosrucher == 1 %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier du rucher{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier du rucher{% endtrans %}</a>{% endif %}
			{% if apiculteur.ruche.nbassosport == 1 %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier de la station{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier de la station{% endtrans %}</a>{% endif %}
			<a href="{{ path('edit_assos_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier le rucher associé{% endtrans %}</a>
			{% if apiculteur.ruche.nbassosrucher == 1 %}<a href="{{ path('edit_assos_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier le port associé{% endtrans %}</a>{% else %}<a href="{{ path('edit_assos_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Modifier le port associé{% endtrans %}</a>{% endif %}</td>
		</tr>
		</tbody>
		{% endif %}
        {% endfor %}
        
        </table> 
        </div> 
      </td> 
    </tr> 
  </tbody> 
</table> 
        {% else %}
         <h1>Vous n'avez pas de ruche.</h1>
        {% endif %}
        {% endblock %}
        <br>
</center>
{% endblock %} 