{% extends 'Ruches/ruches_privees.html.twig' %}
{% block tableau_donnees %}
<!-- for HTML5 -->
<meta charset="UTF-8">
    <center>
     <a href = "{{ path('ruches_privees')}}"><button>{% trans %}Voir toutes mes ruches{% endtrans %}</button></a>
    <br></br>
    {% if apiculteurs %}
        <h1>{% trans %}Mes ruches présentes dans la région{% endtrans %} {{ region }}</h1>
       
        <table border bgcolor="white" cellpadding="5px">
        <tr>
        	<td>{% trans %}Nom ruche{% endtrans %}</td>
        	<td>{% trans %}État{% endtrans %}</td>
          	<td>{% trans %}Date d'installation{% endtrans %}</td>
        	<td>{% trans %}Visibilité{% endtrans %}</td>
        	<td>{% trans %}Rucher{% endtrans %}</td> 
        	<td>{% trans %}Station{% endtrans %}</td>
        	<td>{% trans %}Port{% endtrans %}</td>
        	<td>{% trans %}Action{% endtrans %}</td>
        </tr>
        {% for apiculteur in apiculteurs %}
        {% if apiculteur.ruche.etat != '4' %}
		<tr> 
			<td><a href="{{ path('info_ruche',{nomruche: apiculteur.ruche.nomruche  }) }}"> {{ apiculteur.ruche.nomruche }}			</a></td>
			
			<td> {% if apiculteur.ruche.etat == '0' %}{% trans %}En attente{% endtrans %}{% elseif apiculteur.ruche.etat =='1' %}{% trans %}Dans un rucher{% endtrans %}{% elseif apiculteur.ruche.etat =='2' %}{% trans %}Chez un apiculteur{% endtrans %}{% endif %}</td>
			
			<td> {{ apiculteur.ruche.dateinstall|date("m/d/Y") }}			</td>
			
			<td> {% if apiculteur.ruche.visibilite=='0' %}{% trans %}Publique{% endtrans %}{% elseif apiculteur.ruche.visibilite=='1' %}{% trans %}Privée{% endtrans %}{% endif %}	</td>
			
			<td> {% if apiculteur.ruche.nbassosrucher == 1 %} {% for assosrucher in assosruchers %} {% if assosrucher.ruche == apiculteur.ruche %} {{ assosrucher.rucher.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			
			<td> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.station.nom }} {% endif %} {% endfor %} {% else %} {% trans %} Aucune {% endtrans %} {% endif %}</td>
			
			<td> {% if apiculteur.ruche.nbassosport == 1 %} {% for assosport in assosports %} {% if assosport.ruche == apiculteur.ruche %} {{ assosport.numport }} {% endif %} {% endfor %} {% else %} {% trans %} Aucun {% endtrans %} {% endif %}</td>
			{% set break = false %}
			<td><a href="{{ path('edit_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Modifier{% endtrans %}</a>
			<a href="{{ path('delete_ruche', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark"> {% for mesureruche in mesuresruches %} {% if not break %} {% if mesureruche.ruche == apiculteur.ruche %} {% set break = true %} {% endif %} {% endif %} {% endfor %} {% if apiculteur.ruche.carnets is not empty or break %} {% trans %}Archiver{% endtrans %} {% else %} {% trans %}Supprimer{% endtrans %} {% endif %}</a>
			{% if apiculteur.ruche.nbassosrucher == 1 %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier du rucher{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_rucher', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier du rucher{% endtrans %}</a>{% endif %}
			{% if apiculteur.ruche.nbassosport == 1 %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark">{% trans %}Dissocier de la station{% endtrans %}</a>{% else %}<a href="{{ path('dissociate_ruche_port', {'nomruche' : apiculteur.ruche.nomruche}) }}" class="btn btn-dark disabled">{% trans %}Dissocier de la station{% endtrans %}</a>{% endif %}</td>
		</tr>
		{% endif %}
        {% endfor %}
        </table>
    {% else %}
         <h1>Aucune ruche dans la région {{ region }}</h1>
    {% endif %}
        <br></br>
       
    </center>
{% endblock %}